@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(6px);
    opacity: 0;
  }
}

.animate-scrollDown {
  animation: scrollDown 1.5s infinite;
}

/* Chip animation */
.chip-animation {
  position: relative;
  width: 100%;
  height: 100%;
}

.chip {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: -50px;
  animation: chipFloat 7s infinite linear;
}

@keyframes chipFloat {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-400px) rotate(720deg);
    opacity: 0;
  }
}

